body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #f5f5f5;
}

.container {
	text-align: center;
	margin-bottom: 20px;
}

svg {
	/* 去除背景和边框 */
	background-color: transparent;
	border: none;
}

.controls {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}

input {
	padding: 8px;
	width: 70%;
	text-align: center;
	font-size: 16px;
}

label {
	width: 15%;
	font-size: 16px;
}

button {
	width: 15%;
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 4px;
}

button:hover {
	background-color: #2980b9;
}

.tooltip {
	text-align: left;
	display: none;
	position: absolute;
	background-color: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	z-index: 100;
}

line {
	stroke: #3498db;
	stroke-width: 3;
}
